{% extends 'base.html.twig' %}

{% block title %}Rejoindre une partie - {{ parent() }}{% endblock %}

{% block body %}
<h1>Belote</h1>
<h2>{{ 'join.title' | trans }}</h2>
<label for="pseudo">Votre nom ou pseudo :</label>
<input type="text" id="pseudo" name="pseudo" {{html_disabled_pseudo}} value="{{currentPlayerName}}" />
<input type="hidden" id="hashGame" value="{{hashGame}}" />
<h3>Equipe Nord-Sud</h3>
<p>
Nord : <span id="name_n" {{html_disabled}}>{{playerNameNorth}}</span> <br />
Sud : <span id="name_s">{{playerNameSouth}}</span> <input type="submit" class="btnJoinGame" value="Rejoindre à cette place" name="joinas_s" id="joinas_s" {{html_disabled_s}}  /><br />
</p>

<h3>Equipe Ouest-Est</h3>
<p>
Ouest : <span id="name_w">{{playerNameWest}}</span> <input type="submit" class="btnJoinGame" value="Rejoindre à cette place" name="joinas_w" id="joinas_w" {{html_disabled_w}}  /><br />
Est : <span id="name_e">{{playerNameEast}}</span> <input type="submit" class="btnJoinGame" value="Rejoindre à cette place" name="joinas_e" id="joinas_e" {{html_disabled_e}}  /><br />
</p>
<h3>Spectateurs :</h3>
<p>
<span id="name_guests">
A venir prochainement :)
</span>
</p>
{% endblock %}
